* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  font-family: "Open Sans";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

nav {
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-family: 'Graduate', cursive;
    font-size: 1em;
    color: #54524f;
    padding: 1em;
    display: block;
  }
}

#divSearch {
  position: relative;
  margin: 0 20px;

  input {
    border: none;
    background-color: #54524f56;
    border-radius: 24px;
    padding: 14px 3px;
  }

  img {
    position: absolute;
    top: 15px;
    right: 50px;
    cursor: pointer;
    width: 24px;
  }
}

.wrapper-content {
  margin-top: 36px;
}

  .content {
    margin: auto;
    background-color: #7f7770;
    border-left: 50px;

  .image {
    position: relative;

    img {
      position: relative;
      width: 100%;
    }
  }

  h1 {
    position: absolute;
    text-align: left;
    width: auto;
    left: 6rem;
    z-index: 2;
    top: 10rem;
    font-size: 5rem;
    width: 100%;
    color: #deb37e;
    font-weight: 800;
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84,82,79,0.22));
  }

  p {
    position: absolute;
    top: 35rem;
    left: 6rem;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #54524f;
    font-weight: 400;
    font-style: italic;
  }

  button {
    position: absolute;
    background-color: #FFFFFF;
    border: none;
    padding: 8px 36px;
    bottom: 5rem;
    left: 6rem;
    border-radius: 24px;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: #776c64;
    }
  }

  button:hover {
    background-color: #776c64;

    a {
      color: #FFFFFF;
    }
  }

  .content-text {
    display: block;
    text-align: left;
    margin-left: 6rem;
  
    p {
      position: absolute;
      top: 30rem;
      font-size: 2rem;
      letter-spacing: 5px;
      color: #54524f;
      font-weight: 700;
      font-style: italic;
    }

    @media only screen and (max-width: 900px) {
      h1 {
        font-size: 3rem;
      }
    }

    @media screen and (min-width: 600px) and (max-width: 900px) {
      font-size: .5rem;
    }
  }
}

.lets-go {
  text-align: center;
  margin-bottom: 5rem;

  .lets-go-content {
    margin: 42px;
  }
  
  .lets-go--text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .title {
    margin-top: 24px;
    font-size: 63px;
    color: #e2a355;
    font-weight: 800;
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 27px;
    color: #7f7770;
    font-weight: 400;
    margin-bottom: 24px;
  }

  .lets-go--images {
    display: flex;
    justify-content: space-between;  
  }

  figure {
    position: relative;
    top: 1rem;
  }

  .lets-go--description {
    position: absolute;
    top: 1rem;
  }

  button {
    background-color: #776c64;
    border: none;
    padding: 8px 36px;
    border-radius: 24px;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 24px;

    a {
      text-decoration: none;
      color: #FFFFFF;
    }
  }

  button:hover {
    padding: 16px;
    background-color: #FFFFFF;

    a {
      color: #776c64;
    }
  }
}

.lest-go--image {
  position: relative;
  img {
    max-width: 340px;
    width: 100%;
  }
}

.lets-go--info {
  display: block;
  margin-top: 10px;
  max-width: 340px;
  height: 230px;
  background-color: #776c64;
  text-align: left;

  h6 {
    font-size: 17px;
    letter-spacing: 3px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 36px 0 0 16px;
  }

  p {
    padding: 16px;
    color: #FFFFFF;
  }
}

.boxone-container {
  display: flex;

  .first-box {
    max-width: 700px;

    figure {
      img {
        width: 100%;
      }
    }
  }

  .firstbox-text {
    background-color: #776c64;
    width: 700px;
    text-align: left;

    figure {
      img {
        width: 100%;
      }
    }

    h6 {
      font-size: 42px;
      color: #ffffff;
      font-weight: 700;
      padding: 36px;
    }

    p {
      font-size: 24px;
      color: #ffffff;
      font-weight: 400;
      padding: 36px;
    }

    button {
      padding: 8px 36px;
      background-color: #e2a355;
      border-radius: 36px;
      font-size: 29px;
      letter-spacing: 6px;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 1rem;
      margin-left: 2rem;

      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }

  button:hover {
    background-color: #ffffff;

    a {
      color: #e2a355;
    }
  }
}

.boxtwo-container {
  display: flex;

  .second-box {
    max-width: 700px;

    figure {
      img {
        width: 100%;
      }
    }
  }

  .secondbox-text {
    background-color: #deb37e;
    width: 700px;
    text-align: left;

    figure {
      img {
        width: 100%;
      }
    }

    h6 {
      font-size: 42px;
      color: #ffffff;
      font-weight: 700;
      padding: 36px;
    }

    p {
      font-size: 24px;
      color: #ffffff;
      font-weight: 400;
      padding: 36px;
    }

    button {
      padding: 8px 36px;
      background-color: #e2a355;
      border-radius: 36px;
      font-size: 29px;
      letter-spacing: 6px;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 1rem;
      margin-left: 2rem;

      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }

    button:hover {
      background-color: #FFFFFF;

      a {
        color: #e2a355;
      }
    }
  }
}

.box-hiking {
  margin: 74px 0 74px 0;
  padding: 74px;
  text-align: center;
  background-color: #776c64;

  .content-hiking {
  }

  h1 {
    padding: 16px;
    font-size: 58px;
    color: #ffffff;
    font-weight: 600;
  }

  p {
    font-size: 29px;
    color: #dbdbdb;
    font-weight: 400;
    text-align: center;
  }
}

.explore-world {
  position: relative;

  img {
    max-width: 1200px;
  }

  h1 {
    position: absolute;
    text-align: right;
    font-size: 64px;
    color: #54524f;
    font-weight: 800;
    font-style: italic;
    text-align: right;
    left: 800px;
    top: 300px;
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84,82,79,0.36));

    span {
      color: #deb37e;
    }
  }
}

.explore-info {
  display: flex;
  flex-direction: row;
  padding: 8px;

  .info {
    max-width: 500px;
    padding: 32px;

    :first-child {
      font-size: 33px;
      line-height: 33px;
      color: #deb37e;
      font-weight: 700;
      margin-bottom: 24px;
    }

    :last-child {
      font-size: 19px;
      line-height: 25px;
      color: #333d42;
      font-weight: 400;
    }
  }
}

article {
  margin: 100px;
  text-align: center;

  :nth-child(1) {
    font-size: 100px;
    color: #3f3f3f;
    font-weight: 700;
    text-align: center;
  }

  :nth-child(2) {
    font-size: 25px;
    color: #3f3f3f;
    font-weight: 600;
    margin-bottom: 36px;
  }

  :nth-child(3) {
    font-size: 21px;
    line-height: 33px;
    color: #3f3f3f;
    font-weight: 700;
  }
}

.orange {
  background-color: #deb37e;
  text-align: center;
  padding: 90px;
  margin-bottom: 64px;

  h1 {
    font-size: 64px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
  }

  p {
    font-size: 24px;
    color: #54524f;
    font-weight: 400;
    padding: 24px;
  }

  input {
    border-radius: 32px;
    border: none;
    display: inline-block;
  }

  #email {
    padding: 8px 76px;
    text-align: left;
    z-index: 0;
  }

  #subscribe {
    background-color: #54524f;
    position: absolute;
    padding: 8px 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    left: 820px;
    z-index: 1;
    cursor: pointer;
  }

  #subscribe:hover {
    background-color: #ffffff;
    color: #54524f;
  }
}

footer {
  background-color: #7f7770;
  font-family: "Montserrat";
  padding: 80px;
  text-align: left;

  section {
    display: flex;
    justify-content: space-between;
  }

  .box {
    display: flex;
    flex-direction: row;
  }

  .content-box {
    padding: 16px;
    text-align: left;

    .title {
      font-size: 32px;
      color: #ffffff;
      font-weight: 400;
    }

    .subtitle {
      font-size: 16px;
      color: #ffffff;
      font-weight: 400;
      margin: 16px 0 16px;
    }
  }

  .social-media {
    display: flex;
    cursor: pointer;

    i {
      padding: 8px;
      img {
        width: 32px;
      }

    }
  }

  .content-info {
    display: flex;

    ul {
      list-style-type: none;
      cursor: pointer;

      .title {
        font-size: 24px;
        color: #ffffff;
        font-weight: 400;
      }

      li {
        font-size: 16px;
        line-height: 42px;
        color: #ffffff;
        font-weight: 400;
        padding: 0 16px;
      }
    }
  }
}