* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Open Sans";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-family: 'Graduate', cursive;
  font-size: 1em;
  color: #54524f;
  padding: 1em;
  display: block;
}

#divSearch {
  position: relative;
  margin: 0 20px;
}

#divSearch input {
  border: none;
  background-color: #54524f56;
  border-radius: 24px;
  padding: 14px 3px;
}

#divSearch img {
  position: absolute;
  top: 15px;
  right: 50px;
  cursor: pointer;
  width: 24px;
}

.wrapper-content {
  margin-top: 36px;
}

.content {
  margin: auto;
  background-color: #7f7770;
  border-left: 50px;
}

.content .image {
  position: relative;
}

.content .image img {
  position: relative;
  width: 100%;
}

.content h1 {
  position: absolute;
  text-align: left;
  width: auto;
  left: 6rem;
  z-index: 2;
  top: 10rem;
  font-size: 5rem;
  width: 100%;
  color: #deb37e;
  font-weight: 800;
  -webkit-filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.22));
          filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.22));
}

.content p {
  position: absolute;
  top: 35rem;
  left: 6rem;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #54524f;
  font-weight: 400;
  font-style: italic;
}

.content button {
  position: absolute;
  background-color: #FFFFFF;
  border: none;
  padding: 8px 36px;
  bottom: 5rem;
  left: 6rem;
  border-radius: 24px;
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
}

.content button a {
  text-decoration: none;
  color: #776c64;
}

.content .content-text {
  display: block;
  text-align: left;
  margin-left: 6rem;
}

.content .content-text p {
  position: absolute;
  top: 30rem;
  font-size: 2rem;
  letter-spacing: 5px;
  color: #54524f;
  font-weight: 700;
  font-style: italic;
}

@media only screen and (max-width: 900px) {
  .content .content-text h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .content .content-text {
    font-size: .5rem;
  }
}

.lets-go {
  text-align: center;
  margin-bottom: 5rem;
}

.lets-go .lets-go-content {
  margin: 42px;
}

.lets-go .lets-go--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.lets-go .title {
  margin-top: 24px;
  font-size: 63px;
  color: #e2a355;
  font-weight: 800;
  margin-bottom: 8px;
}

.lets-go .subtitle {
  font-size: 27px;
  color: #7f7770;
  font-weight: 400;
  margin-bottom: 24px;
}

.lets-go .lets-go--images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lets-go figure {
  position: relative;
  top: 1rem;
}

.lets-go .lets-go--description {
  position: absolute;
  top: 1rem;
}

.lets-go button {
  background-color: #776c64;
  border: none;
  padding: 8px 36px;
  border-radius: 24px;
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 24px;
}

.lets-go button a {
  text-decoration: none;
  color: #FFFFFF;
}

.lest-go--image {
  position: relative;
}

.lest-go--image img {
  max-width: 340px;
  width: 100%;
}

.lets-go--info {
  display: block;
  margin-top: 10px;
  max-width: 340px;
  height: 230px;
  background-color: #776c64;
  text-align: left;
}

.lets-go--info h6 {
  font-size: 17px;
  letter-spacing: 3px;
  color: #FFFFFF;
  font-weight: 700;
  padding: 36px 0 0 16px;
}

.lets-go--info p {
  padding: 16px;
  color: #FFFFFF;
}

.boxone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxone-container .first-box {
  max-width: 700px;
}

.boxone-container .first-box figure img {
  width: 100%;
}

.boxone-container .firstbox-text {
  background-color: #776c64;
  width: 700px;
  text-align: left;
}

.boxone-container .firstbox-text figure img {
  width: 100%;
}

.boxone-container .firstbox-text h6 {
  font-size: 42px;
  color: #ffffff;
  font-weight: 700;
  padding: 36px;
}

.boxone-container .firstbox-text p {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  padding: 36px;
}

.boxone-container .firstbox-text button {
  padding: 8px 36px;
  background-color: #e2a355;
  border-radius: 36px;
  font-size: 29px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1rem;
  margin-left: 2rem;
}

.boxone-container .firstbox-text button a {
  text-decoration: none;
  color: #FFFFFF;
}

.boxtwo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxtwo-container .second-box {
  max-width: 700px;
}

.boxtwo-container .second-box figure img {
  width: 100%;
}

.boxtwo-container .secondbox-text {
  background-color: #deb37e;
  width: 700px;
  text-align: left;
}

.boxtwo-container .secondbox-text figure img {
  width: 100%;
}

.boxtwo-container .secondbox-text h6 {
  font-size: 42px;
  color: #ffffff;
  font-weight: 700;
  padding: 36px;
}

.boxtwo-container .secondbox-text p {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  padding: 36px;
}

.boxtwo-container .secondbox-text button {
  padding: 8px 36px;
  background-color: #e2a355;
  border-radius: 36px;
  font-size: 29px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1rem;
  margin-left: 2rem;
}

.boxtwo-container .secondbox-text button a {
  text-decoration: none;
  color: #FFFFFF;
}

.box-hiking {
  margin: 74px 0 74px 0;
  padding: 74px;
  text-align: center;
  background-color: #776c64;
}

.box-hiking h1 {
  padding: 16px;
  font-size: 58px;
  color: #ffffff;
  font-weight: 600;
}

.box-hiking p {
  font-size: 29px;
  color: #dbdbdb;
  font-weight: 400;
  text-align: center;
}

.explore-world {
  position: relative;
}

.explore-world img {
  max-width: 1200px;
}

.explore-world h1 {
  position: absolute;
  text-align: right;
  font-size: 64px;
  color: #54524f;
  font-weight: 800;
  font-style: italic;
  text-align: right;
  left: 800px;
  top: 300px;
  -webkit-filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.36));
          filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.36));
}

.explore-world h1 span {
  color: #deb37e;
}

.explore-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 8px;
}

.explore-info .info {
  max-width: 500px;
  padding: 32px;
}

.explore-info .info :first-child {
  font-size: 33px;
  line-height: 33px;
  color: #deb37e;
  font-weight: 700;
  margin-bottom: 24px;
}

.explore-info .info :last-child {
  font-size: 19px;
  line-height: 25px;
  color: #333d42;
  font-weight: 400;
}

article {
  margin: 100px;
  text-align: center;
}

article :nth-child(1) {
  font-size: 100px;
  color: #3f3f3f;
  font-weight: 700;
  text-align: center;
}

article :nth-child(2) {
  font-size: 25px;
  color: #3f3f3f;
  font-weight: 600;
  margin-bottom: 36px;
}

article :nth-child(3) {
  font-size: 21px;
  line-height: 33px;
  color: #3f3f3f;
  font-weight: 700;
}

.orange {
  background-color: #deb37e;
  text-align: center;
  padding: 90px;
  margin-bottom: 64px;
}

.orange h1 {
  font-size: 64px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.orange p {
  font-size: 24px;
  color: #54524f;
  font-weight: 400;
  padding: 24px;
}

.orange input {
  border-radius: 32px;
  border: none;
  display: inline-block;
}

.orange #email {
  padding: 8px 76px;
  text-align: left;
  z-index: 0;
}

.orange #subscribe {
  background-color: #54524f;
  position: absolute;
  padding: 8px 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  left: 820px;
  z-index: 1;
}

footer {
  background-color: #7f7770;
  font-family: "Montserrat";
  padding: 80px;
  text-align: left;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .content-box {
  padding: 16px;
  text-align: left;
}

footer .content-box .title {
  font-size: 32px;
  color: #ffffff;
  font-weight: 400;
}

footer .content-box .subtitle {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  margin: 16px 0 16px;
}

footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-media i {
  padding: 8px;
}

footer .social-media i img {
  width: 32px;
}

footer .content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .content-info ul {
  list-style-type: none;
}

footer .content-info ul .title {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
}

footer .content-info ul li {
  font-size: 16px;
  line-height: 42px;
  color: #ffffff;
  font-weight: 400;
  padding: 0 16px;
}
/*# sourceMappingURL=main.css.map */